*.embed.manifest
*.embed.manifest.res
*.idb
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.log
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.VC.db
*.vcxproj.user
*manifest.rc
/Debug/*

/Release/*

/x64_Debug/*

/x64_Release/*

BuildLog.htm
dte80a.tlh
mt.dep
