*.embed.manifest
*.embed.manifest.res
*.idb
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.log
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.VC.db
*.vcxproj.user
/Debug/*

/Release/*

/x64_Debug/*

/x64_Release/*

BuildLog.htm
dte80a.tlh
mt.dep
