/Debug/*
/Release/*
/x64/Debug/*
/x64/Release/*

*.cache
*.embed.manifest
*.embed.manifest.res
*.idb
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.log
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.VC.db
*.vcxproj.user
*manifest.rc

BuildLog.htm
dte80a.tlh
mt.dep
